.back-to-top {
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.back-to-top-icon {
    font-size: 1.5rem;
    color: var(--container-color);
}

.back-to-top:hover {
    background-color: var(--title-color-dark);
}

.show-back-to-top {
    bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .back-to-top {
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
    }

    .back-to-top-icon {
        font-size: 1.25rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .show-back-to-top {
        bottom: 4rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .back-to-top {
        right: 1rem;
    }
}